.pull-left {
    float: left !important;
  }
  
  .pull-right {
    float: right !important;
  }

  mat-form-field{
    width: 100% !important;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 0 8px, 0 8px;
  }
  
  tr:nth-child(even) {
    background-color: #8397aa;
    color: rgb(228, 225, 225)
  }
