/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.btn-circle {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 35px;
};

.btns-grids{
    background-color: #0b4491; 
    color:azure; 
    border-color: #eee; 
    border-radius: 60px; 
    width: 35px; 
    height: 25px; 
    margin-right: 5px; 
    padding-top: 3px;
};
