<div mat-dialog-title>
	<mat-card style="background-color: gainsboro;">
		<div class="row text-center">
			<div class="col-md-12">
				<label>{{titulo}}</label>
			</div>
		</div>
	</mat-card>
</div>
<mat-dialog-content class="mat-typography">
	<mat-card style="background-color: gainsboro;">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="0">Cancelar</button>
	<button mat-button (click)="guardarSubscripcion()" cdkFocusInitial>
		Guardar relación
	</button>
</mat-dialog-actions>