<form [formGroup]="contactosPersonaForm" class="flex-col p-3">
    <div class="row justify-content-start align-items-center">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <mat-form-field appearance="fill">
                <mat-label>Tipo Contacto</mat-label>
                <mat-select formControlName="idTipoContacto">
                    <mat-option [value]="0">
                        Seleccione una opcion
                    </mat-option>
                    <mat-option *ngFor="let tipoContacto of catTipoContacto" [value]="tipoContacto.idTipoCont">
                        {{tipoContacto.tipoContacto}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <mat-label>Numero/Mail</mat-label>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Numero/Mail" formControlName="dato">
            </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <mat-label>Extencion*</mat-label>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Extencion" formControlName="ext">
            </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <mat-slide-toggle color="primary" formControlName="predeterminado">
                Dato Predeterminado
            </mat-slide-toggle>
        </div>
    </div>
</form>