<mat-card>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <app-grid-component *ngIf="muestraGridPago" [datos]="pagos" [columns]="columns" [gridOptions]="gridOptions"
                [exportExcel]="exportExcel" [columnHiding]="columnHiding" [Checkbox]="Checkbox"
                [Editing]="Editing" [Columnchooser]="Columnchooser" [searchPanel]="searchPanel"
                [scroll]="scroll" (messageEvent)="receiveMessage($event)"
                (datosevent)='datosMessage($event)' [toolbar]="toolbar"  (verDictamen)="verDictamenFn($event)" (registrarPago)="registrarPagoFn($event)" (verPagos)="verPagosFn($event)" >
            </app-grid-component>
        </div>
    </div>
</mat-card>