<div class="row">
    <div class="col-sm-12 col-md-4 col-xl-4"></div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" style="text-align: center;">
        <h5>{{nombrePersona}}</h5>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
        <button *ngIf="accionesUsuario?.agregarActualizarDocs === 1" class="btn btn-success pull-right" (click)="addDocumento()">
            Agregar <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12">
        <app-grid-component *ngIf="muestraGrid" [datos]="allDocumentos" [columns]="columns" [gridOptions]="gridOptions"
            [exportExcel]="exportExcel" [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing"
            [Columnchooser]="Columnchooser" [searchPanel]="searchPanel" [scroll]="scroll"
            (messageEvent)="receiveMessage($event)" (datosevent)='datosMessage($event)' [toolbar]="toolbar"
            (verDocumentoExpDigCargado)="verDocumentoExpDigCargado($event)">
        </app-grid-component>
    </div>
</div>